.rodape-card{
    color: rgb(78, 75, 45);
    height: 35px;
}

.btn-detalhes{
    color: white;
    background-color: royalblue;
}

.btn-detalhes:hover{
    color: white;
    background-color: #f21667;
}

.card-text{
    max-height: 100px;
    overflow: hidden;
}

.img-cartao{
    max-height  : 180px;
    min-width: 100%;
}